body,
html {
    margin: 0;
    padding: 0;
    background-color: aliceblue;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    height: 100vh;
    font-size: 15vw;
}

#clock {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}