body,
html {
    margin: 0;
    padding: 0;
    background-color: aliceblue;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    height: 100vh;
    font-size: 15vw;
}

#clock {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container_2 {
    align-items: center;
    margin-left: 55vw;
    transform: translate(-50%, -50%);
}

#taskcreate {
    padding: 30px 20px;
}

#taskcreate input {
    width: 360px;
    height: 4vh;
    padding: 12px;
    color: #111111;
    font-weight: 500;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    border: 2px solid #d1d3d4;
}

#taskcreate input:focus {
    outline: none;
    border-color: #0d75ec;
}

#taskcreate button {
    position: relative;
    width: 180px;
    float: right;
    font-weight: 500;
    font-size: 16px;
    background-color: #0d75ec;
    border: none;
    color: #ffffff;
    cursor: pointer;
    outline: none;
    height: 6vh;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
}

#tasks {
    border-radius: 10px;
    width: 30vw;
    padding: 30px 20px;
    margin-top: 10px;
}

.task {
    border-radius: 5px;
    align-items: center;
    justify-content: space-between;
    border: 1px solid black;
    cursor: pointer;
    height: 5vh;
    margin-bottom: 8px;
    padding: 5px;
    display: flex;
}

.task span {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 400;
}

.task button {
    background-color: #0a2ea4;
    color: #ffffff;
    cursor: pointer;
    outline: none;
    height: 50vh;
    width: 20vw;
    border-radius: 5px;
}

@media (max-width: 1400px) {
    #taskcreate button {
        width: 100px;
        height: 46px;
    }
    #taskcreate input {
        height: 2vh;
    }
}

@media (max-width: 1180px) {
    #taskcreate button {
        width: 90px;
        height: 45px;
    }
    #taskcreate input {
        width: 274px;
    }
}

@media (max-width: 960px) {
    #taskcreate button {
        width: 80px;
        height: 45px;
    }
    #taskcreate input {
        width: 240px;
    }
}

@media (max-width: 865px) {
    #taskcreate button {
        width: 70px;
        height: 45px;
    }
    #taskcreate input {
        width: 220px;
    }
}

@media (max-width: 800px) {
    #taskcreate button {
        width: 70px;
        height: 45px;
        margin-right: -30px;
    }
    #taskcreate input {
        width: 220px;
        margin-left: -20px;
    }
}

@media (max-width: 690px) {
    #taskcreate button {
        width: 50px;
        height: 45px;
    }
    #taskcreate input {
        width: 200px;
    }
}

@media (max-width: 600px) {
    #taskcreate button {
        width: 40px;
        height: 45px;
    }
    #taskcreate input {
        width: 217px;
        margin-bottom: 200px;
        margin-left: -100px;
    }
    #clock {
        margin-bottom: 300px;
    }
}